@import '../../commons/styles/colors.scss';
@import '../../commons/styles/breakpoints.scss';

.cmp-currencySelector {
    display: none;
    position: relative;

    @include medium {
        display: flex;
    }
}