@import '../../../commons/styles/colors.scss';

.cmp-details-description {
    &.hidded {
        .cmp-details-description--text {
            height: 20em;
            margin-bottom: 0;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 8em;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0), $color-black);
            }
        }

        .cmp-details-description--readmore {
            svg {
                transform: rotate(0);
            }
        }
    }

    &--text {
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }

    &--readmore {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        color: $color-pink;
        font-size: 16px;
        line-height: 26px;
        justify-content: flex-start;
        cursor: pointer;
        display: flex;
        outline: 0;
        align-items: center;

        span {
            margin-right: 10px;
        }

        svg {
            transform: rotate(180deg);
        }
    }
}