.cmp-details-basic {
    &__marker {
        display: flex;
        flex-wrap: wrap;

        &--logo {
            height: 32px;
            width: 32px;
        }

        &__badges {
            flex-basis: 100%;
            margin: 10px 0;

            span {
                background-color: rgb(73, 70, 70);
                border-radius: 4px;
                padding: 3px 6px;
                font-size: 11px;
                font-weight: 500;
                line-height: 18px;
                white-space: nowrap;
                color: #fff;
                margin-right: 10px;

                &.cmp-details-basic__marker__badges--rank {
                    background-color: #000;
                }
            }
        }
    }
}