@import '../../commons/styles/colors.scss';
@import '../../commons/styles/breakpoints.scss';

.cmp-details-basic {
    display: flex;
    flex-wrap: wrap;

    &__marker {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;

        @include small {
            flex-basis: 50%;
        }

        &--logo {
            height: 32px;
            width: 32px;
            border-radius: 50%;
        }

        &__badges {
            flex-basis: 100%;
            margin: 10px 0;

            &--tags,
            &--links {
                display: flex;
                flex-wrap: wrap;
                margin: 10px 0;
                max-width: 60%;

                a,
                &--tag {
                    display: flex;
                    align-items: center;
                    color: $color-white;
                }

                svg {
                    font-size: 14px;
                    margin-right: 5px;
                }
            }

            span {
                background-color: $color-gauge1;
                color: $color-white;
                border-radius: 4px;
                padding: 3px 6px;
                font-size: 11px;
                font-weight: 500;
                line-height: 18px;
                white-space: nowrap;
                margin: 5px 5px 0 0;
            }

            &--rank {
                flex-basis: 100%;

                span {
                    background-color: $color-pink;
                }
            }
        }
    }

    &__prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 100%;

        @include small {
            flex-basis: 50%;
            justify-content: flex-end;
        }

        &--title {
            flex-basis: 100%;

            @include small {
                text-align: right;
            }

            span {
                text-transform: uppercase;
            }
        }

        &--price {
            font-size: 32px;
            font-weight: bold;

            @include small {
                margin-right: 20px;
            }
        }

        &--change {
            padding: 5px 10px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: bold;

            &.isDown {
                background-color: $color-down;
            }

            &.isUp {
                background-color: $color-up;
            }
        }

        &__low-high {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            margin: 15px 0;
            flex-wrap: wrap;

            span {
                font-size: 14px;

                &.value {
                    font-weight: bold;
                }
            }

            &__gauge {
                flex-basis: 100%;
            }
        }
    }
}