// Colors 

$color-black: #0A0F18;
$color-white: #F2F3F7;
$color-grey: #1C2330;
$color-blue: #060F8B;
$color-darker-blue: #232457;
$color-lighter-blue: #233DBD;
$color-pink: #F4768B;
$color-lighter-pink: #FC9196;

// Status

$color-up:#8dc647;
$color-down:#e15241;

$color-gauge1:#323546;
$color-gauge2:#646b80;